:root {
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    --swatch-foundation:    #d9d6cc; /* USED FOR BODY BACKGROUND */
    --swatch-primary:       #40454e; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
    --swatch-complement:    #353a44; /* USED IN CONTRAST BACKGROUND FOR TOOLBARS */
    --swatch-contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
    --swatch-accent:        #ffc819; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --swatch-text:          #e9edf0; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */ 
    --swatch-text-accent:   #19c8ff; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */  

    --font-primary:         'Consolas', sans-serif;
}

#root {
    background-color: var(--swatch-foundation);
    font-family: var(--font-primary);
    display: flex;
}

#navbar {
    background-color: var(--swatch-complement);
    box-shadow: 2px 2px 2px var(--swatch-primary); 
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 18pt;
}

#left-sidebar {
    background-color: var(--swatch-complement);
    color: rgb(233,237,240);
}

#left-sidebar-header {
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
}

#todo-list-header-card {
    border-bottom: dotted;
    font-size: 14pt;
    font-weight: bold;
}

#workspace {
    background-color: var(--swatch-primary);
    display: flex;
    color: rgb(233,237,240);
}

#title-div {
    color: rgb(255,200,25);
    font-weight: bold;
    font-size: 18pt;
}

#todo-list-table-header {
    border-bottom: dotted;
}

.list-header-card {
    border-bottom: dotted;
}

.list-item-control {
    cursor: pointer;
}

.list-item-card {
    border-bottom: solid;
    border-width: 1px;
    font-weight: bold;
}

.todo-list-button {
    cursor:pointer;
    background-color: var(--swatch-complement);
    font-weight: bold;
}

.todo-list-button:hover {
    background-color: var(--swatch-contrast);
}

.todo-button {
    cursor:pointer;
    background-color: var(--swatch-complement);
    font-weight: bold;
}

.todo-button:hover {
    background-color: var(--swatch-contrast);
}

#add-list-button {
    color: var(--swatch-accent);
    padding-left: 25px;
}

.status-incomplete {
    color: var(--swatch-accent);
}

.status-complete {
    color: var(--swatch-text-accent);
}

#add-item-button, #delete-list-button, #close-list-button {
    text-align: center;
}
.modal {
    display: none;/*hiding the modal*/
    position: fixed;
    /*Order of Display:*/
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    overflow: auto;
    background-color: rgba(0,0,0, 0.45);
}
.modal-content {
    background-color: rgba(255,255,255);
    margin: 20% auto;
    width: 50%;
    height: 25%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.3), 0 7px 20px 0 rgba(0,0,0,0.3);
    animation-name: modalopen;
    animation-duration: 1s;
    color: black;
}
.modal-header h2{
    margin: 0;
}
.modal-header{
    background: coral;
    padding: 15px;
    color: #fff;
}
.xBtn {
    color: #fff;
    float: right;
    font-size: 30px;
    padding: 10px;
}
.xBtn:hover, .xBtn:focus {
    color:rgba(0,0,0);
    text-decoration: none;
    cursor:pointer;

}
.yBtn {
    color: #fff;
    float: right;
    font-size: 20px;
    padding: 15px;
}
.yBtn:hover, .yBtn:focus {
    color:rgba(0,0,0);
    text-decoration: none;
    cursor:pointer;
}
